body {
  background-color: #000;
  width: 100vm;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  #app {
    width:900px;
    height:600px;
    background-color: #000;
    position: relative;
    border:1px solid #eee;
    canvas {
      position: absolute;
    }
  }
}
